:root {
  --laranja: #F28C28;
  --azul: #1C3F60;
  --branco: #FFFFFF;
  --cinza-claro: #F5F5F5;
  --preto: black;
  --azul-claro: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--cinza-claro);
  line-height: 1.5;
}

header {
  width: 100%;
  background-color: var(--branco);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  position: relative; 
}

.logo {
  width: 120px;
  height: auto;
  margin-right: 30px;
}

.menu-toggle {
  font-size: 28px;
  cursor: pointer;
  color: var(--preto);
  margin-left: auto;
  display: none;
  z-index: 2001;
  background-color: var(--branco);
}

.menu-desktop {
  flex: 1;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.menu-item a {
  text-decoration: none;
  color: var(--preto);
  padding: 10px;
  font-weight: 500;
  position: relative;
}

.menu-item a:hover {
  color: var(--laranja);
}

.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--branco);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-top: 2px solid var(--laranja);
  animation: slideDown 0.3s ease forwards;
  z-index: 1000;
}

.submenu li {
  list-style: none;
  border-bottom: 1px solid var(--laranja);
}

.submenu li:last-child {
  border-bottom: none;
}

.submenu li a {
  display: block;
  color: var(--preto);
  text-decoration: none;
  padding: 10px 20px;
}

.submenu li a:hover {
  background-color: #f3f3f3;
}

.menu-item:hover .submenu {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  color: var(--laranja);
  margin-bottom: 20px;
}

section h3 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
}

section p {
  font-size: 20px;
  text-align: justify;
}

.placeholder {
  background-color: var(--branco);
  border-left: 4px solid var(--laranja);
  padding: 20px;
  color: #555;
}

.subtitulo-centralizado {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--azul);
}

.bloco-horizontal {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.bloco-horizontal img {
  width: 25%;
  max-width: 300px;
  border-radius: 6px;
}

.bloco-horizontal p {
  width: 60%;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.bloco-horizontal a {
  color: var(--azul-claro);
  text-decoration: none;
}

.bloco-horizontal a:hover {
  color: var(--laranja);
}

.bloco-horizontal.invertido {
  flex-direction: row-reverse;
}

footer {
  background-color: var(--azul);
  color: var(--branco);
  text-align: center;
  padding: 40px 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px 20px;
  text-align: left;
}

.footer-col h3 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--laranja);
  padding-bottom: 5px;
  text-align: center;
}

.footer-lin h3 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--laranja);
  padding-bottom: 5px;
  text-align: center;
}

.footer-col p {
  font-size: 14px;
  margin: 5px 0;
  text-align: justify;
}

.footer-lin p {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9rem;
  color: var(--branco);
}
    

footer a {
  color: var(--branco);
  text-decoration: none;
}

footer a:hover {
  color: var(--laranja);
}

/* ========================= Menu Moblie ========================= */

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80vw;
  max-width: 300px;
  height: 100vh;
  background-color: var(--azul);
  color: var(--branco);
  padding: 60px 20px 20px;
  transition: right 0.3s ease-in-out;
  z-index: 2000;
}

.sidebar.active {
  right: 0;
}

@media (max-width: 900px) {
  .menu-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  color: var(--branco);
}

.sidebar-header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.mobile-menu,
.mobile-submenu {
  list-style: none;
  padding-top: 20px;
}

.mobile-menu li,
.mobile-submenu li {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 15px 10px;
  cursor: pointer;
}

.mobile-menu li a,
.mobile-submenu li a {
  color: var(--branco);
  text-decoration: none;
  display: block;
  width: 100%;
}

.mobile-menu li:hover,
.mobile-submenu li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
  .bloco-horizontal,
  .bloco-horizontal.invertido {
    flex-direction: column;
    text-align: center;
  }

  .bloco-horizontal img,
  .bloco-horizontal p {
    width: 50%;
  }
}